/*css reset code */
/****  文字大小初始化,使1em=10px *****/
:root {
    --el-color-primary: #294aa5 !important;
}

body {
    font-size: 62.5%;
    color: black !important;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* for IE/Win */
html>body {
    font-size: 15px;
}

/* for everything else */

/*字体边框等初始化*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

img {
    display: block;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-weight: normal;
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    color: #000000d9;
    font-weight: 500;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

a {
    text-decoration: none;
}

a {
    color: #294aa5;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
    text-decoration: none;
    outline: 0;
}

a:active {
    color: #193180;
}

a:hover {
    color: #4969b3;
}

.icon {
    flex: none;
    display: inline-block;
    height: 1.2em;
    vertical-align: middle;
    --pd: 0.2em;
}

.tg-robot,
.customer,
.to-top {
    position: fixed;
    z-index: 5;
    right: 25px;
}

/*初始化结束*************************************************************** */